<!DOCTYPE html>
<html>
   <head>
      <title>Camera</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <form>
         <input type="button" value="BACK" onclick="window.location.href='/'" />
      </form>
      <p>Click!</p>
      <table border="0">
         <tr>
             <td>
                 <form>
                     <input type="button" style="height:60px;width:120px" value="TAKE A PHOTO" onclick="window.location.href='/camera'" />
                 </form>
             </td>
             <td>
                 <form>
                     <input type="button" style="height:60px;width:120px" value="SHOW PHOTO GALLERY" onclick="window.location.href='/photo_gallery'" />
                 </form>
             </td>
         </tr>
      </table>
   </body>
</html>
