<!DOCTYPE html>
<html>
   <head>
      <title>Gallery</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <form>
         <input type="button" value="BACK" onclick="window.location.href='/'" />
      </form>
      <form>
            <input type="button" value="TAKE A PHOTO" onclick="window.location.href='/camera'" />
      </form>
	   <img src="templates/photo.jpg?{{ id }}" alt="photo_is_here.jpg" height="280" width="380">
   </body>
</html>
