<!DOCTYPE html>
<html>
    <head>
        <title>My raspberry</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>It's me, raspberry pi! Today is: {{ today }}</p> 

        <p>My CPU temperature is: {{ cpu_temp }}</p>
        <p>CPU temperature history:</p> 
        <img src="templates/cpu_temp_plot.jpg?{{ id }}<" alt="cpu_temp_plot.jpg" height="250" width="250">
        <table border="0">
            <tr>
                <td>
                    <form>
                        <input type="button" style="height:60px;width:120px" value="TAKE A PHOTO" onclick="window.location.href='/camera'" />
                    </form>
                </td>
                <td>
                    <form>
                        <input type="button" style="height:60px;width:160px" value="SHOW PHOTO GALLERY" onclick="window.location.href='/photo_gallery'" />
                    </form>
                </td>
            </tr>
        </table>
    </body>
</html>
