<!DOCTYPE html>
<html>
   <head>
      <title>Gallery</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <img src="templates/photo.jpg?{{ id }}" alt="photo_is_here.jpg" height="260" width="360">
      <table border="0">
         <tr>
             <td>
                 <form>
                    <input type="button" style="height:60px;width:120px" value="BACK" onclick="window.location.href='/'" />
                 </form>
             </td>
             <td>
                 <form>
                    <input type="button" style="height:60px;width:120px" value="TAKE A PHOTO" onclick="window.location.href='/camera'" />
                 </form>
             </td>
         </tr>
      </table>
   </body>
</html>
