<!DOCTYPE html>
<html>
   <head>
      <title>My raspberry</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>
      <form>
         <input type="button" value="BACK" onclick="window.location.href='/'" />
      </form>
      <p>Click!</p>
      <video>
        <source src="templates/video.mjpeg?{{ id }}" type="video/mjpeg">
        Your browser does not support HTML5 video.
     </video>
      <table border="0">
         <tr>
             <td>
                 <form>
                     <input type="button" value="TAKE A PHOTO" onclick="window.location.href='/camera'" />
                 </form>
             </td>
             <td>
                 <form>
                     <input type="button" value="SHOW PHOTO GALLERY" onclick="window.location.href='/photo_gallery'" />
                 </form>
             </td>
         </tr>
         <tr>
            <td>
                <form>
                    <input type="button" value="TAKE A VIDEO" onclick="window.location.href='/video'" />
                </form>
            </td>
            <td>
                <form>
                    <input type="button" value="SHOW VIDEO GALLERY" onclick="window.location.href='/video_gallery'" />
                </form>
            </td>
         </tr>
      </table>
   </body>
</html>
